.dashboard-page {
  display: flex;
  flex-direction: column; // Header on top
  min-height: 100vh;
}

.dashboard-body {
  display: flex;
  flex: 1;
  min-height: 0; // Prevent overflow if needed
}

.sidebar {
  width: 250px;
//   background-color: #1e1e2f;
  color: #fff;
}

.main-content {
  flex: 1;
  background-color: #f9f9ff; // match the white content area
  padding: 20px;
  overflow-y: auto;
}
